In [1]:
import mysql.connector
import pandas as pd
import numpy as np

In [2]:
connection = mysql.connector.connect(host = 'localhost', 
                                     user = 'root', 
                                     db = 'sample1_db')

In [3]:
connection

In [4]:
db_tables = pd.read_sql_query('SHOW TABLES FROM sample1_db', connection)

In [5]:
db_tables

  Tables_in_sample1_db
0            customers
1            employees
2              offices
3         orderdetails
4               orders
5             payments
6         productlines
7             products

In [6]:
cs1 = pd.read_sql_query('SELECT * FROM customers', connection)

In [7]:
cs1

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166.0,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.0
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370.0,118200.0
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700.0
5,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165.0,210500.0
6,125,Havel & Zbyszek Co,Piestrzeniewicz,Zbyszek,(26) 642-7555,ul. Filtrowa 68,None,Warszawa,None,01-012,Poland,NaN,0.0
7,128,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,None,Frankfurt,None,60528,Germany,1504.0,59700.0
8,129,Mini Wheels Co.,Murphy,Julie,6505555787,5557 North Pendale Street,None,San Francisco,CA,94217,USA,1165.0,64600.0
9,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,None,NYC,NY,10022,USA,1323.0,114900.0
10,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,1370.0,227600.0
11,144,"Volvo Model Replicas, Co",Berglund,Christina,0921-12 3555,Berguvsvägen 8,None,Luleå,None,S-958 22,Sweden,1504.0,53100.0
12,145,Danish Wholesale Imports,Petersen,Jytte,31 12 3555,Vinbæltet 34,None,Kobenhavn,None,1734,Denmark,1401.0,83400.0
13,146,"Saveley & Henriot, Co.",Saveley,Mary,78.32.5555,"2, rue du Commerce",None,Lyon,None,69004,France,1337.0,123900.0
14,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,None,079903,Singapore,1621.0,103800.0
15,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286.0,138500.0
16,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,None,Allentown,PA,70267,USA,1216.0,100600.0
17,161,Technics Stores Inc.,Hashimoto,Juri,6505556809,9408 Furth Circle,None,Burlingame,CA,94217,USA,1165.0,84600.0
18,166,Handji Gifts& Co,Victorino,Wendy,+65 224 1555,106 Linden Road Sandown,2nd Floor,Singapore,None,069045,Singapore,1612.0,97900.0
19,167,Herkku Gifts,Oeztan,Veysel,+47 2267 3215,Brehmen St. 121,PR 334 Sentrum,Bergen,None,N 5804,Norway,1504.0,96800.0
20,168,American Souvenirs Inc,Franco,Keith,2035557845,149 Spinnaker Dr.,Suite 101,New Haven,CT,97823,USA,1286.0,0.0
21,169,Porto Imports Co.,de Castro,Isabel,(1) 356-5555,Estrada da saúde n. 58,None,Lisboa,None,1756,Portugal,NaN,0.0
22,171,Daedalus Designs Imports,Rancé,Martine,20.16.1555,"184, chaussée de Tournai",None,Lille,None,59000,France,1370.0,82900.0
23,172,"La Corne D'abondance, Co.",Bertrand,Marie,(1) 42.34.2555,"265, boulevard Charonne",None,Paris,None,75012,France,1337.0,84300.0
24,173,Cambridge Collectables Co.,Tseng,Jerry,6175555555,4658 Baden Av.,None,Cambridge,MA,51247,USA,1188.0,43400.0
25,175,Gift Depot Inc.,King,Julie,2035552570,25593 South Bay Ln.,None,Bridgewater,CT,97562,USA,1323.0,84300.0
26,177,Osaka Souveniers Co.,Kentary,Mory,+81 06 6342 5555,1-6-20 Dojima,None,Kita-ku,Osaka,530-0003,Japan,1621.0,81200.0
27,181,Vitachrome Inc.,Frick,Michael,2125551500,2678 Kingston Rd.,Suite 101,NYC,NY,10022,USA,1286.0,76400.0
28,186,"Toys of Finland, Co.",Karttunen,Matti,90-224 8555,Keskuskatu 45,None,Helsinki,None,21240,Finland,1501.0,96500.0
29,187,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,1501.0,136800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,386,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,None,Reggio Emilia,None,42100,Italy,1401.0,121400.0
93,398,"Tokyo Collectables, Ltd",Shimamura,Akiko,+81 3 3584 0555,2-2-8 Roppongi,None,Minato-ku,Tokyo,106-0032,Japan,1621.0,94400.0
94,406,Auto Canal+ Petit,Perrier,Dominique,(1) 47.55.6555,"25, rue Lauriston",None,Paris,None,75016,France,1337.0,95000.0
95,409,Stuttgart Collectable Exchange,Müller,Rita,0711-555361,Adenauerallee 900,None,Stuttgart,None,70563,Germany,NaN,0.0
96,412,"Extreme Desk Decorations, Ltd",McRoy,Sarah,04 499 9555,101 Lambton Quay,Level 11,Wellington,None,None,New Zealand,1612.0,86800.0
97,415,"Bavarian Collectables Imports, Co.",Donnermeyer,Michael,+49 89 61 08 9555,Hansastr. 15,None,Munich,None,80686,Germany,1504.0,77000.0
98,424,Classic Legends Inc.,Hernandez,Maria,2125558493,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,1286.0,67500.0
99,443,"Feuer Online Stores, Inc",Feuer,Alexander,0342-555176,Heerstr. 22,None,Leipzig,None,04179,Germany,NaN,0.0
100,447,Gift Ideas Corp.,Lewis,Dan,2035554407,2440 Pompton St.,None,Glendale,CT,97561,USA,1323.0,49700.0
101,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,None,Bräcke,None,S-844 67,Sweden,1504.0,116400.0
102,450,The Sharp Gifts Warehouse,Frick,Sue,4085553659,3086 Ingle Ln.,None,San Jose,CA,94217,USA,1165.0,77600.0
103,452,Mini Auto Werke,Mendel,Roland,7675-3555,Kirchgasse 6,None,Graz,None,8010,Austria,1401.0,45300.0
104,455,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,None,New Haven,CT,97823,USA,1286.0,95400.0
105,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286.0,39800.0
106,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",None,Madrid,None,28023,Spain,1702.0,104600.0
107,459,Warburg Exchange,Ottlieb,Sven,0241-039123,Walserweg 21,None,Aachen,None,52066,Germany,NaN,0.0
108,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,None,New Bedford,MA,50553,USA,1216.0,85800.0
109,465,"Anton Designs, Ltd.",Anton,Carmen,+34 913 728555,"c/ Gobelas, 19-1 Urb. La Florida",None,Madrid,None,28023,Spain,NaN,0.0
110,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,None,Glen Waverly,Victoria,3150,Australia,1611.0,60300.0
111,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,None,None,Italy,1401.0,34800.0
112,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,None,Burbank,CA,94019,USA,1166.0,55400.0
113,477,Mit Vergnügen & Co.,Moos,Hanna,0621-08555,Forsterstr. 57,None,Mannheim,None,68306,Germany,NaN,0.0
114,480,"Kremlin Collectables, Co.",Semenov,Alexander,+7 812 293 0521,2 Pobedy Square,None,Saint Petersburg,None,196143,Russia,NaN,0.0
115,481,"Raanan Stores, Inc","Altagar,G M",Raanan,+ 972 9 959 8555,3 Hagalim Blv.,None,Herzlia,None,47625,Israel,NaN,0.0
116,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",None,Sevilla,None,41101,Spain,1702.0,65700.0
117,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,None,Philadelphia,PA,71270,USA,1323.0,72600.0
118,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,None,Brisbane,CA,94217,USA,1165.0,60300.0
119,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,None,London,None,WA1 1DP,UK,1501.0,43300.0
120,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,None,Boston,MA,51003,USA,1188.0,85100.0
121,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612.0,110000.0

In [8]:
cs2 = pd.read_sql_query('SELECT * FROM customers WHERE creditLimit > 100000', connection)

In [9]:
cs2

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.0
1,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370,118200.0
2,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500.0
3,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,None,NYC,NY,10022,USA,1323,114900.0
4,141,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,1370,227600.0
5,146,"Saveley & Henriot, Co.",Saveley,Mary,78.32.5555,"2, rue du Commerce",None,Lyon,None,69004,France,1337,123900.0
6,148,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,None,079903,Singapore,1621,103800.0
7,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.0
8,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,None,Allentown,PA,70267,USA,1216,100600.0
9,187,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,Fauntleroy Circus,None,Manchester,None,EC2 5NT,UK,1501,136800.0
10,227,Heintze Collectables,Ibsen,Palle,86 21 3555,Smagsloget 45,None,Århus,None,8200,Denmark,1401,120800.0
11,239,Collectable Mini Designs Co.,Thompson,Valarie,7605558146,361 Furth Circle,None,San Diego,CA,91217,USA,1166,105000.0
12,249,Amica Models & Co.,Accorti,Paolo,011-4988555,Via Monte Bianco 34,None,Torino,None,10100,Italy,1401,113000.0
13,259,"Toms Spezialitäten, Ltd",Pfalzheim,Henriette,0221-5554327,Mehrheimerstr. 369,None,Köln,None,50739,Germany,1504,120400.0
14,276,"Anna's Decorations, Ltd",O'Hara,Anna,02 9936 8555,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,1611,107800.0
15,278,Rovelli Gifts,Rovelli,Giovanni,035-640555,Via Ludovico il Moro 22,None,Bergamo,None,24100,Italy,1401,119600.0
16,286,Marta's Replicas Co.,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,None,Cambridge,MA,51247,USA,1216,123700.0
17,298,"Vida Sport, Ltd",Holz,Mihael,0897-034555,Grenzacherweg 237,None,Genève,None,1203,Switzerland,1702,141300.0
18,319,Mini Classics,Frick,Steve,9145554562,3758 North Pendale Street,None,White Plains,NY,24067,USA,1323,102700.0
19,321,Corporate Gift Ideas Co.,Brown,Julie,6505551386,7734 Strong St.,None,San Francisco,CA,94217,USA,1165,105000.0
20,363,Online Diecast Creations Co.,Young,Dorothy,6035558647,2304 Long Airport Avenue,None,Nashua,NH,62005,USA,1216,114200.0
21,386,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Strada Provinciale 124,None,Reggio Emilia,None,42100,Italy,1401,121400.0
22,448,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Åkergatan 24,None,Bräcke,None,S-844 67,Sweden,1504,116400.0
23,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",None,Madrid,None,28023,Spain,1702,104600.0
24,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',None,Auckland,None,None,New Zealand,1612,110000.0

In [10]:
cs3 = pd.read_sql_query('SELECT * FROM customers WHERE creditLimit > 100000 AND country = "USA"', connection)

In [11]:
cs3

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500.0
1,131,Land of Toys Inc.,Lee,Kwai,2125557818,897 Long Airport Avenue,None,NYC,NY,10022,USA,1323,114900.0
2,151,Muscle Machine Inc,Young,Jeff,2125557413,4092 Furth Circle,Suite 400,NYC,NY,10022,USA,1286,138500.0
3,157,Diecast Classics Inc.,Leong,Kelvin,2155551555,7586 Pompton St.,None,Allentown,PA,70267,USA,1216,100600.0
4,239,Collectable Mini Designs Co.,Thompson,Valarie,7605558146,361 Furth Circle,None,San Diego,CA,91217,USA,1166,105000.0
5,286,Marta's Replicas Co.,Hernandez,Marta,6175558555,39323 Spinnaker Dr.,None,Cambridge,MA,51247,USA,1216,123700.0
6,319,Mini Classics,Frick,Steve,9145554562,3758 North Pendale Street,None,White Plains,NY,24067,USA,1323,102700.0
7,321,Corporate Gift Ideas Co.,Brown,Julie,6505551386,7734 Strong St.,None,San Francisco,CA,94217,USA,1165,105000.0
8,363,Online Diecast Creations Co.,Young,Dorothy,6035558647,2304 Long Airport Avenue,None,Nashua,NH,62005,USA,1216,114200.0

In [12]:
cs4 = pd.read_sql_query('SELECT customerName, contactLastName, contactFirstName, phone, country \
                        FROM customers WHERE creditLimit > 100000 ORDER BY country', connection)

In [13]:
cs4

,customerName,contactLastName,contactFirstName,phone,country
0,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,Australia
1,"Anna's Decorations, Ltd",O'Hara,Anna,02 9936 8555,Australia
2,Heintze Collectables,Ibsen,Palle,86 21 3555,Denmark
3,La Rochelle Gifts,Labrune,Janine,40.67.8555,France
4,"Saveley & Henriot, Co.",Saveley,Mary,78.32.5555,France
5,"Toms Spezialitäten, Ltd",Pfalzheim,Henriette,0221-5554327,Germany
6,L'ordine Souveniers,Moroni,Maurizio,0522-556555,Italy
7,Rovelli Gifts,Rovelli,Giovanni,035-640555,Italy
8,Amica Models & Co.,Accorti,Paolo,011-4988555,Italy
9,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,New Zealand
10,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Singapore
11,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,Spain
12,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,Spain
13,Scandinavian Gift Ideas,Larsson,Martha,0695-34 6555,Sweden
14,"Vida Sport, Ltd",Holz,Mihael,0897-034555,Switzerland
15,"AV Stores, Co.",Ashworth,Rachel,(171) 555-1555,UK
16,Diecast Classics Inc.,Leong,Kelvin,2155551555,USA
17,Collectable Mini Designs Co.,Thompson,Valarie,7605558146,USA
18,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,USA
19,Online Diecast Creations Co.,Young,Dorothy,6035558647,USA
20,Corporate Gift Ideas Co.,Brown,Julie,6505551386,USA
21,Mini Classics,Frick,Steve,9145554562,USA
22,Muscle Machine Inc,Young,Jeff,2125557413,USA
23,Marta's Replicas Co.,Hernandez,Marta,6175558555,USA
24,Land of Toys Inc.,Lee,Kwai,2125557818,USA

In [14]:
cs5 = pd.read_sql_query('SELECT country, COUNT(*) AS count_country FROM customers GROUP BY country', connection)

In [15]:
cs5

         country  count_country
0      Australia              5
1        Austria              2
2        Belgium              2
3         Canada              3
4        Denmark              2
5        Finland              3
6         France             12
7        Germany             13
8      Hong Kong              1
9        Ireland              2
10        Israel              1
11         Italy              4
12         Japan              2
13   Netherlands              1
14   New Zealand              4
15        Norway              3
16   Philippines              1
17        Poland              1
18      Portugal              2
19        Russia              1
20     Singapore              3
21  South Africa              1
22         Spain              7
23        Sweden              2
24   Switzerland              3
25            UK              5
26           USA             36

In [16]:
emp1 = pd.read_sql_query('SELECT * FROM employees', connection)

In [17]:
emp1

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

In [18]:
od1 = pd.read_sql_query('SELECT * FROM orderdetails', connection)

In [19]:
od1

,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber,totalCost
0,10100,S18_1749,30,136.00,3,0.0
1,10100,S18_2248,50,55.09,2,0.0
2,10100,S18_4409,22,75.46,4,0.0
3,10100,S24_3969,49,35.29,1,0.0
4,10101,S18_2325,25,108.06,4,0.0
5,10101,S18_2795,26,167.06,1,0.0
6,10101,S24_1937,45,32.53,3,0.0
7,10101,S24_2022,46,44.35,2,0.0
8,10102,S18_1342,39,95.55,2,0.0
9,10102,S18_1367,41,43.13,1,0.0
10,10103,S10_1949,26,214.30,11,0.0
11,10103,S10_4962,42,119.67,4,0.0
12,10103,S12_1666,27,121.64,8,0.0
13,10103,S18_1097,35,94.50,10,0.0
14,10103,S18_2432,22,58.34,2,0.0
15,10103,S18_2949,27,92.19,12,0.0
16,10103,S18_2957,35,61.84,14,0.0
17,10103,S18_3136,25,86.92,13,0.0
18,10103,S18_3320,46,86.31,16,0.0
19,10103,S18_4600,36,98.07,5,0.0
20,10103,S18_4668,41,40.75,9,0.0
21,10103,S24_2300,36,107.34,1,0.0
22,10103,S24_4258,25,88.62,15,0.0
23,10103,S32_1268,31,92.46,3,0.0
24,10103,S32_3522,45,63.35,7,0.0
25,10103,S700_2824,42,94.07,6,0.0
26,10104,S12_3148,34,131.44,1,0.0
27,10104,S12_4473,41,111.39,9,0.0
28,10104,S18_2238,24,135.90,8,0.0
29,10104,S18_2319,29,122.73,12,0.0
...,...,...,...,...,...,...
2966,10420,S24_3432,26,104.94,12,0.0
2967,10420,S24_3969,15,35.29,3,0.0
2968,10421,S18_2795,35,167.06,1,0.0
2969,10421,S24_2022,40,44.80,2,0.0
2970,10422,S18_1342,51,91.44,2,0.0
2971,10422,S18_1367,25,47.44,1,0.0
2972,10423,S18_2949,10,89.15,1,0.0
2973,10423,S18_2957,31,56.21,3,0.0
2974,10423,S18_3136,21,98.44,2,0.0
2975,10423,S18_3320,21,80.36,5,0.0
2976,10423,S24_4258,28,78.89,4,0.0
2977,10424,S10_1949,50,201.44,6,0.0
2978,10424,S12_1666,49,121.64,3,0.0
2979,10424,S18_1097,54,108.50,5,0.0
2980,10424,S18_4668,26,40.25,4,0.0
2981,10424,S32_3522,44,54.94,2,0.0
2982,10424,S700_2824,46,85.98,1,0.0
2983,10425,S10_4962,38,131.49,12,0.0
2984,10425,S12_4473,33,95.99,4,0.0
2985,10425,S18_2238,28,147.36,3,0.0
2986,10425,S18_2319,38,117.82,7,0.0
2987,10425,S18_2432,19,48.62,10,0.0
2988,10425,S18_3232,28,140.55,8,0.0
2989,10425,S18_4600,38,107.76,13,0.0
2990,10425,S24_1444,55,53.75,1,0.0
2991,10425,S24_2300,49,127.79,9,0.0
2992,10425,S24_2840,31,31.82,5,0.0
2993,10425,S32_1268,41,83.79,11,0.0
2994,10425,S32_2509,11,50.32,6,0.0
2995,10425,S50_1392,18,94.92,2,0.0

In [20]:
od2 = pd.read_sql_query('SELECT DISTINCT productCode FROM orderdetails', connection)

In [21]:
od2

    productCode
0      S10_1678
1      S10_1949
2      S10_2016
3      S10_4698
4      S10_4757
5      S10_4962
6      S12_1099
7      S12_1108
8      S12_1666
9      S12_2823
10     S12_3148
11     S12_3380
12     S12_3891
13     S12_3990
14     S12_4473
15     S12_4675
16     S18_1097
17     S18_1129
18     S18_1342
19     S18_1367
20     S18_1589
21     S18_1662
22     S18_1749
23     S18_1889
24     S18_1984
25     S18_2238
26     S18_2248
27     S18_2319
28     S18_2325
29     S18_2432
..          ...
79     S24_4048
80     S24_4258
81     S24_4278
82     S24_4620
83     S32_1268
84     S32_1374
85     S32_2206
86     S32_2509
87     S32_3207
88     S32_3522
89     S32_4289
90     S32_4485
91     S50_1341
92     S50_1392
93     S50_1514
94     S50_4713
95    S700_1138
96    S700_1691
97    S700_1938
98    S700_2047
99    S700_2466
100   S700_2610
101   S700_2824
102   S700_2834
103   S700_3167
104   S700_3505
105   S700_3962
106   S700_4002
107    S72_1253
108    S72_3212

[109 rows x 1 columns]

In [22]:
join1 = pd.read_sql_query('SELECT * FROM orders ord \
                          JOIN orderdetails det \
                          ON ord.orderNumber = det.orderNumber', connection)

In [23]:
join1

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,orderNumber,productCode,quantityOrdered,priceEach,orderLineNumber,totalCost
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,10100,S18_1749,30,136.00,3,0.0
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,10100,S18_2248,50,55.09,2,0.0
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,10100,S18_4409,22,75.46,4,0.0
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,None,363,10100,S24_3969,49,35.29,1,0.0
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,10101,S18_2325,25,108.06,4,0.0
5,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,10101,S18_2795,26,167.06,1,0.0
6,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,10101,S24_1937,45,32.53,3,0.0
7,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,10101,S24_2022,46,44.35,2,0.0
8,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181,10102,S18_1342,39,95.55,2,0.0
9,10102,2003-01-10,2003-01-18,2003-01-14,Shipped,None,181,10102,S18_1367,41,43.13,1,0.0
10,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S10_1949,26,214.30,11,0.0
11,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S10_4962,42,119.67,4,0.0
12,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S12_1666,27,121.64,8,0.0
13,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_1097,35,94.50,10,0.0
14,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_2432,22,58.34,2,0.0
15,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_2949,27,92.19,12,0.0
16,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_2957,35,61.84,14,0.0
17,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_3136,25,86.92,13,0.0
18,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_3320,46,86.31,16,0.0
19,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_4600,36,98.07,5,0.0
20,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S18_4668,41,40.75,9,0.0
21,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S24_2300,36,107.34,1,0.0
22,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S24_4258,25,88.62,15,0.0
23,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S32_1268,31,92.46,3,0.0
24,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S32_3522,45,63.35,7,0.0
25,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,None,121,10103,S700_2824,42,94.07,6,0.0
26,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141,10104,S12_3148,34,131.44,1,0.0
27,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141,10104,S12_4473,41,111.39,9,0.0
28,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141,10104,S18_2238,24,135.90,8,0.0
29,10104,2003-01-31,2003-02-09,2003-02-01,Shipped,None,141,10104,S18_2319,29,122.73,12,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2966,10420,2005-05-29,2005-06-07,None,In Process,None,282,10420,S24_3432,26,104.94,12,0.0
2967,10420,2005-05-29,2005-06-07,None,In Process,None,282,10420,S24_3969,15,35.29,3,0.0
2968,10421,2005-05-29,2005-06-06,None,In Process,Custom shipping instructions were sent to ware...,124,10421,S18_2795,35,167.06,1,0.0
2969,10421,2005-05-29,2005-06-06,None,In Process,Custom shipping instructions were sent to ware...,124,10421,S24_2022,40,44.80,2,0.0
2970,10422,2005-05-30,2005-06-11,None,In Process,None,157,10422,S18_1342,51,91.44,2,0.0
2971,10422,2005-05-30,2005-06-11,None,In Process,None,157,10422,S18_1367,25,47.44,1,0.0
2972,10423,2005-05-30,2005-06-05,None,In Process,None,314,10423,S18_2949,10,89.15,1,0.0
2973,10423,2005-05-30,2005-06-05,None,In Process,None,314,10423,S18_2957,31,56.21,3,0.0
2974,10423,2005-05-30,2005-06-05,None,In Process,None,314,10423,S18_3136,21,98.44,2,0.0
2975,10423,2005-05-30,2005-06-05,None,In Process,None,314,10423,S18_3320,21,80.36,5,0.0
2976,10423,2005-05-30,2005-06-05,None,In Process,None,314,10423,S24_4258,28,78.89,4,0.0
2977,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S10_1949,50,201.44,6,0.0
2978,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S12_1666,49,121.64,3,0.0
2979,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S18_1097,54,108.50,5,0.0
2980,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S18_4668,26,40.25,4,0.0
2981,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S32_3522,44,54.94,2,0.0
2982,10424,2005-05-31,2005-06-08,None,In Process,None,141,10424,S700_2824,46,85.98,1,0.0
2983,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S10_4962,38,131.49,12,0.0
2984,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S12_4473,33,95.99,4,0.0
2985,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S18_2238,28,147.36,3,0.0
2986,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S18_2319,38,117.82,7,0.0
2987,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S18_2432,19,48.62,10,0.0
2988,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S18_3232,28,140.55,8,0.0
2989,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S18_4600,38,107.76,13,0.0
2990,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S24_1444,55,53.75,1,0.0
2991,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S24_2300,49,127.79,9,0.0
2992,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S24_2840,31,31.82,5,0.0
2993,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S32_1268,41,83.79,11,0.0
2994,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S32_2509,11,50.32,6,0.0
2995,10425,2005-05-31,2005-06-07,None,In Process,None,119,10425,S50_1392,18,94.92,2,0.0

In [24]:
join2 = pd.read_sql_query('SELECT ord.orderNumber, ord.status, det.productCode, det.priceEach \
                          FROM orders ord \
                          JOIN orderdetails det \
                          ON ord.orderNumber = det.orderNumber', connection)

In [25]:
join2

      orderNumber      status productCode  priceEach
0           10100     Shipped    S18_1749     136.00
1           10100     Shipped    S18_2248      55.09
2           10100     Shipped    S18_4409      75.46
3           10100     Shipped    S24_3969      35.29
4           10101     Shipped    S18_2325     108.06
5           10101     Shipped    S18_2795     167.06
6           10101     Shipped    S24_1937      32.53
7           10101     Shipped    S24_2022      44.35
8           10102     Shipped    S18_1342      95.55
9           10102     Shipped    S18_1367      43.13
10          10103     Shipped    S10_1949     214.30
11          10103     Shipped    S10_4962     119.67
12          10103     Shipped    S12_1666     121.64
13          10103     Shipped    S18_1097      94.50
14          10103     Shipped    S18_2432      58.34
15          10103     Shipped    S18_2949      92.19
16          10103     Shipped    S18_2957      61.84
17          10103     Shipped    S18_3136      86.92
18          10103     Shipped    S18_3320      86.31
19          10103     Shipped    S18_4600      98.07
20          10103     Shipped    S18_4668      40.75
21          10103     Shipped    S24_2300     107.34
22          10103     Shipped    S24_4258      88.62
23          10103     Shipped    S32_1268      92.46
24          10103     Shipped    S32_3522      63.35
25          10103     Shipped   S700_2824      94.07
26          10104     Shipped    S12_3148     131.44
27          10104     Shipped    S12_4473     111.39
28          10104     Shipped    S18_2238     135.90
29          10104     Shipped    S18_2319     122.73
...           ...         ...         ...        ...
2966        10420  In Process    S24_3432     104.94
2967        10420  In Process    S24_3969      35.29
2968        10421  In Process    S18_2795     167.06
2969        10421  In Process    S24_2022      44.80
2970        10422  In Process    S18_1342      91.44
2971        10422  In Process    S18_1367      47.44
2972        10423  In Process    S18_2949      89.15
2973        10423  In Process    S18_2957      56.21
2974        10423  In Process    S18_3136      98.44
2975        10423  In Process    S18_3320      80.36
2976        10423  In Process    S24_4258      78.89
2977        10424  In Process    S10_1949     201.44
2978        10424  In Process    S12_1666     121.64
2979        10424  In Process    S18_1097     108.50
2980        10424  In Process    S18_4668      40.25
2981        10424  In Process    S32_3522      54.94
2982        10424  In Process   S700_2824      85.98
2983        10425  In Process    S10_4962     131.49
2984        10425  In Process    S12_4473      95.99
2985        10425  In Process    S18_2238     147.36
2986        10425  In Process    S18_2319     117.82
2987        10425  In Process    S18_2432      48.62
2988        10425  In Process    S18_3232     140.55
2989        10425  In Process    S18_4600     107.76
2990        10425  In Process    S24_1444      53.75
2991        10425  In Process    S24_2300     127.79
2992        10425  In Process    S24_2840      31.82
2993        10425  In Process    S32_1268      83.79
2994        10425  In Process    S32_2509      50.32
2995        10425  In Process    S50_1392      94.92

[2996 rows x 4 columns]

In [26]:
ordet1 = pd.read_sql_query('SELECT orderNumber, productCode, SUM(priceEach) AS totalPrice \
                            FROM orderdetails \
                            GROUP BY orderNumber', connection)

In [27]:
ordet1.tail(10)

     orderNumber productCode  totalPrice
316        10416    S18_1662     1084.48
317        10417    S10_1678      671.33
318        10418    S18_3278      727.23
319        10419    S12_1099     1471.56
320        10420    S18_1749     1014.01
321        10421    S18_2795      211.86
322        10422    S18_1342      138.88
323        10423    S18_2949      403.05
324        10424    S10_1949      612.75
325        10425    S10_4962     1231.98

In [28]:
join3 = pd.read_sql_query('SELECT ord.orderNumber, ord.status, det.productCode, SUM(det.priceEach) AS totalPrice \
                           FROM orders ord \
                           JOIN orderdetails det \
                           ON ord.orderNumber = det.orderNumber GROUP BY ord.orderNumber', connection)

In [29]:
join3

     orderNumber      status productCode  totalPrice
0          10100     Shipped    S18_1749      301.84
1          10101     Shipped    S18_2325      352.00
2          10102     Shipped    S18_1342      138.68
3          10103     Shipped    S10_1949     1520.37
4          10104     Shipped    S12_3148     1251.89
5          10105     Shipped    S10_4757     1479.71
6          10106     Shipped    S18_1662     1427.28
7          10107     Shipped    S10_1678      793.21
8          10108     Shipped    S12_1099     1432.86
9          10109     Shipped    S18_1129      700.89
10         10110     Shipped    S18_1589     1338.47
11         10111     Shipped    S18_1342      460.16
12         10112     Shipped    S10_1949      282.26
13         10113     Shipped    S12_1666      325.23
14         10114     Shipped    S10_4962      909.72
15         10115     Shipped    S12_4473      515.99
16         10116     Shipped    S32_3207       60.28
17         10117     Shipped    S12_1108     1307.47
18         10118     Shipped   S700_3505       86.15
19         10119     Shipped    S10_4757     1081.44
20         10120     Shipped    S10_2016     1322.67
21         10121     Shipped    S10_1678      439.17
22         10122     Shipped    S12_1099     1598.27
23         10123     Shipped    S18_1589      396.08
24         10124     Shipped    S18_1749      976.51
25         10125     Shipped    S18_1342      227.76
26         10126     Shipped    S10_1949     1623.71
27         10127     Shipped    S12_1108     1601.39
28         10128     Shipped    S18_3140      350.86
29         10129     Shipped    S10_4757      754.23
..           ...         ...         ...         ...
296        10396     Shipped    S12_3891      778.38
297        10397     Shipped   S700_1938      351.72
298        10398     Shipped    S18_1662     1355.03
299        10399     Shipped    S10_1678      787.39
300        10400     Shipped    S10_4757      741.11
301        10401     On Hold    S18_2581      886.70
302        10402     Shipped    S10_2016      238.79
303        10403     Shipped    S10_1678      793.27
304        10404     Shipped    S12_1099      771.80
305        10405     Shipped    S12_4675      500.04
306        10406    Disputed    S18_1129      375.54
307        10407     On Hold    S18_1589     1074.29
308        10408     Shipped    S24_3969       41.03
309        10409     Shipped    S18_2325      132.13
310        10410     Shipped    S18_1342      743.35
311        10411     Shipped    S10_1949      946.47
312        10412     Shipped    S12_4473     1034.15
313        10413     Shipped    S12_1108      763.06
314        10414     On Hold    S10_4757     1163.89
315        10415    Disputed    S18_3856      324.13
316        10416     Shipped    S18_1662     1084.48
317        10417    Disputed    S10_1678      671.33
318        10418     Shipped    S18_3278      727.23
319        10419     Shipped    S12_1099     1471.56
320        10420  In Process    S18_1749     1014.01
321        10421  In Process    S18_2795      211.86
322        10422  In Process    S18_1342      138.88
323        10423  In Process    S18_2949      403.05
324        10424  In Process    S10_1949      612.75
325        10425  In Process    S10_4962     1231.98

[326 rows x 4 columns]

In [30]:
join4 = pd.read_sql_query('SELECT ord.orderNumber, ord.orderDate, det.productCode, det.quantityOrdered, det.priceEach, det.quantityOrdered*det.priceEach AS totalCost\
                           FROM orders ord \
                           JOIN orderdetails det \
                           ON ord.orderNumber = det.orderNumber', connection)

In [31]:
join4

,orderNumber,orderDate,productCode,quantityOrdered,priceEach,totalCost
0,10100,2003-01-06,S18_1749,30,136.00,4080.00
1,10100,2003-01-06,S18_2248,50,55.09,2754.50
2,10100,2003-01-06,S18_4409,22,75.46,1660.12
3,10100,2003-01-06,S24_3969,49,35.29,1729.21
4,10101,2003-01-09,S18_2325,25,108.06,2701.50
5,10101,2003-01-09,S18_2795,26,167.06,4343.56
6,10101,2003-01-09,S24_1937,45,32.53,1463.85
7,10101,2003-01-09,S24_2022,46,44.35,2040.10
8,10102,2003-01-10,S18_1342,39,95.55,3726.45
9,10102,2003-01-10,S18_1367,41,43.13,1768.33
10,10103,2003-01-29,S10_1949,26,214.30,5571.80
11,10103,2003-01-29,S10_4962,42,119.67,5026.14
12,10103,2003-01-29,S12_1666,27,121.64,3284.28
13,10103,2003-01-29,S18_1097,35,94.50,3307.50
14,10103,2003-01-29,S18_2432,22,58.34,1283.48
15,10103,2003-01-29,S18_2949,27,92.19,2489.13
16,10103,2003-01-29,S18_2957,35,61.84,2164.40
17,10103,2003-01-29,S18_3136,25,86.92,2173.00
18,10103,2003-01-29,S18_3320,46,86.31,3970.26
19,10103,2003-01-29,S18_4600,36,98.07,3530.52
20,10103,2003-01-29,S18_4668,41,40.75,1670.75
21,10103,2003-01-29,S24_2300,36,107.34,3864.24
22,10103,2003-01-29,S24_4258,25,88.62,2215.50
23,10103,2003-01-29,S32_1268,31,92.46,2866.26
24,10103,2003-01-29,S32_3522,45,63.35,2850.75
25,10103,2003-01-29,S700_2824,42,94.07,3950.94
26,10104,2003-01-31,S12_3148,34,131.44,4468.96
27,10104,2003-01-31,S12_4473,41,111.39,4566.99
28,10104,2003-01-31,S18_2238,24,135.90,3261.60
29,10104,2003-01-31,S18_2319,29,122.73,3559.17
...,...,...,...,...,...,...
2966,10420,2005-05-29,S24_3432,26,104.94,2728.44
2967,10420,2005-05-29,S24_3969,15,35.29,529.35
2968,10421,2005-05-29,S18_2795,35,167.06,5847.10
2969,10421,2005-05-29,S24_2022,40,44.80,1792.00
2970,10422,2005-05-30,S18_1342,51,91.44,4663.44
2971,10422,2005-05-30,S18_1367,25,47.44,1186.00
2972,10423,2005-05-30,S18_2949,10,89.15,891.50
2973,10423,2005-05-30,S18_2957,31,56.21,1742.51
2974,10423,2005-05-30,S18_3136,21,98.44,2067.24
2975,10423,2005-05-30,S18_3320,21,80.36,1687.56
2976,10423,2005-05-30,S24_4258,28,78.89,2208.92
2977,10424,2005-05-31,S10_1949,50,201.44,10072.00
2978,10424,2005-05-31,S12_1666,49,121.64,5960.36
2979,10424,2005-05-31,S18_1097,54,108.50,5859.00
2980,10424,2005-05-31,S18_4668,26,40.25,1046.50
2981,10424,2005-05-31,S32_3522,44,54.94,2417.36
2982,10424,2005-05-31,S700_2824,46,85.98,3955.08
2983,10425,2005-05-31,S10_4962,38,131.49,4996.62
2984,10425,2005-05-31,S12_4473,33,95.99,3167.67
2985,10425,2005-05-31,S18_2238,28,147.36,4126.08
2986,10425,2005-05-31,S18_2319,38,117.82,4477.16
2987,10425,2005-05-31,S18_2432,19,48.62,923.78
2988,10425,2005-05-31,S18_3232,28,140.55,3935.40
2989,10425,2005-05-31,S18_4600,38,107.76,4094.88
2990,10425,2005-05-31,S24_1444,55,53.75,2956.25
2991,10425,2005-05-31,S24_2300,49,127.79,6261.71
2992,10425,2005-05-31,S24_2840,31,31.82,986.42
2993,10425,2005-05-31,S32_1268,41,83.79,3435.39
2994,10425,2005-05-31,S32_2509,11,50.32,553.52
2995,10425,2005-05-31,S50_1392,18,94.92,1708.56

In [32]:
tb_customer1 = pd.read_sql_query('SELECT CAST(postalCode AS integer) AS postalCodeInt \
                                  FROM customers', connection)